
.tab {
	-fx-background-color: linear-gradient(to top, -fx-base, derive(-fx-base,30%));
}
.tab-pane
{
	-fx-background-image: url("3.png");
	-fx-background-repeat: stretch;   
	-fx-background-size: 450 650;
	-fx-background-position: center center;
	-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}




.label {
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
	-fx-opacity: 1;
}





.button{
    
	-fx-effect: dropshadow(three-pass-box, yellow, 30, 0.5, 0, 0); 
	-fx-background-radius: 12;
   
	-fx-padding: 6;

	-fx-shadow-highlight-color: f0f0f0;

	-fx-body-color: linear-gradient(from 0em 0em to 0em 2.083333em, black, #D7D7D7, white);
}





.tab-pane .tab-header-area .tab-header-background {
	-fx-opacity: 0.6;
}
.tab-pane .tab
{
	-fx-background-color: #e6e6e6;
}
.tab-pane .tab:selected
{
	-fx-background-color: #3c3c3c;
}
.tab .tab-label { 
	-fx-alignment: CENTER;
	-fx-text-fill: #828282;
	-fx-font-size: 12px;
	-fx-font-weight: bold;
}
.tab:selected .tab-label { 
	-fx-alignment: CENTER;
	-fx-text-fill: #96b946;
}




.text-field {
	-fx-padding: 10;

	-fx-background-radius: 10;
   
	-fx-background-color: #a9a9a9 , white ,#fff5e6;
	-fx-opacity: 0.8;
	-fx-font-weight: bold;
}

.text-field:focused {
	-fx-background-color: #a9a9a9 , white , white;
	-fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
	-fx-opacity: 1;
}



.check-box {
	-fx-background-color: black;
	-fx-alignment: CENTER;
	-fx-text-fill: white;
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	
}

.check-box .box {

	-fx-background-color: white;
	-fx-border-color:grey;
	-fx-border-radius:3px; 

}

.check-box:selected .mark {

	-fx-background-color: white;

}

.check-box:selected .box {

	-fx-background-color: #28a3f4;
}







.radio-button {
-fx-font-family: "Arial";
-fx-font-size: 12;
-fx-text-fill: lightgoldenrodyellow;
 -fx-effect: dropshadow(one-pass-box , lightgoldenrodyellow, 0, 0.0 , 0 , 1 );
-fx-border-width: 0px;
}